@model IEnumerable<Catalog>
@if (Model != null && Model.Any())
{
    <!-- category panel -->
    <div class="categories side-panel">
        <h4 class="panel-title text-uppercase">分类</h4>
        <ul class="list-unstyled clearfix list-group">
            @foreach (var catalog in Model)
            {
                <li>
                    <a asp-controller="Blog" asp-action="Index" asp-route-catalog="@catalog.Name" class="list-group-item">
                        <i class="elegant-eleganticons-61"></i>@catalog.Name
                        <span class="badge badge-round badge-xs">@catalog.Added</span>
                    </a>
                </li>
            }
        </ul>
    </div>

}